body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1,
h2,
h3 {
    color: white;
}
#nombre{
    width: 94.0vh;
}
.navbar {
    background-color: #98c3db;
    padding: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.navbar-toggler {
    border: none;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
}

.navbar-toggler-icon {
    font-size: 18px;
    color: #fff;
}

.navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #ccc;
}

.nav-link.active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.65;
}

.hero-background img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-content {
    z-index: 1;
    text-align: center;
}

.hero-title {
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.hero-social {
    margin-top: 20px;
}

.hero-social a {
    margin: 0 10px;
}

.hero-social img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.hero-social img:hover {
    transform: scale(1.1);
}

.hero h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin-right: 20px;
    color: #fff;
}

.about {
    padding: 50px 0;
}

.about ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about li {
    margin-bottom: 10px;
}

.skills {
    padding: 50px 0;
}

.skills .card {
    margin: 0 10px;
    width: auto;
}

.skills .row {
    flex-wrap: wrap;
}

.works {
    padding: 50px 0;
}

.carousel-inner img {
    max-width: 100%;
    max-height: 700px;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 20px;

}

.carousel-caption .tit-slider {
    font-size: 2.0em;
    font-weight: bold;
    color: black;
}

.carousel-item img {
    z-index: 0;
}

.portfolio {
    padding: 50px 0;
}

.portfolio img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.portfolio-image {
    transition: transform 0.5s;
    cursor: pointer;
}

.portfolio-image:hover {
    transform: scale(1.1);
}



.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-image {
    width: 100%;
    transition: transform .5s;
}

.portfolio-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity .3s;
}

.portfolio-item:hover .portfolio-image {
    transform: scale(1.1);
}

.portfolio-item:hover .portfolio-description {
    opacity: 1;
}

.contact {
    padding: 50px 0;
}

.contact form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.bg-form {
    background-color: #f0f0f0;
}

.contact label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.contact button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contact button[type="submit"]:hover {
    background-color: #3e8e41;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
}

.ico-footer {
    width: 5.0em;
}